* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(55, 55, 55);
}

.header {
    width: 65vmin;
    height: 70vmin;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    background: rgb(40, 30, 30);
    box-shadow: 5px 10px 34px 25px rgb(238, 61, 120);
}
.game-details {
    color: rgb(234, 53, 83);
    font-size: 1.2rem;
    font-weight: 500;
    padding: 20px 27px;
    display: flex;
    justify-content: space-between;
}
.board-game {
    height: 100%;
    width: 100%;
    display: grid;
    background: rgb(44, 38, 34);
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}
.board-game .food {
    background: rgb(255, 61, 3);
}
.board-game .head {
    background: rgb(255, 38, 74);
}